@model List<FoodViewModel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Select food"];
}

<div class="container">

    @foreach (var f in Model)
    {
        <div class="row food-row">
            <div class="col-2">
                <img style="height: 100px; width: auto; border-radius: 18px;" src="../img/food-1.jpg" alt="Thumbnail image">
            </div>
            <div class="col-8 px-2 menu-meal">
                <h2>@f.Name</h2>
                <p>@f.Description</p>
            </div>
            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                @Html.ActionLink(
                    Localizer["Choose"].Value,
                    "SelectFood",
                    "Home",
                    routeValues: new
                    {
                        selectedFoodId = f.Id
                    },
                    new { @class = "btn btn-primary" }
                )
            </div>
        </div>
    }

</div>